@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Rock+Salt|Nunito:200,300,400,600|Spectral:200,300,400,500&subset=latin-ext');

$g_Black: #000000;
$g_White: #FFFFFF;
$g_Yellow: #FED549;
$g_LightBlue: #E6FFF5;
$g_Pink: #EE9297;
$g_Teal: #95FED3;
$g_Brown: #473C1E;
$g_DarkBlue: #06232D;
$g_Red: #F44336;

$g_Lancelot: 'Abril Fatface', cursive; // logo only
$g_Spectral: 'Spectral', serif; // newspaper headliner, infophase
$g_Nunito: 'Nunito', sans-serif; // paragraphs, buttons
$g_RockSalt: 'Rock Salt', cursive;

:export {
  BLACK: $g_Black;
  WHITE: $g_White;
  YELLOW: $g_Yellow;
  LIGHT_BLUE: $g_LightBlue;
  PINK: $g_Pink;
  TEAL: $g_Teal;
  BROWN: $g_Brown;
  DARK_BLUE: $g_DarkBlue;
  RED: $g_Red;

  LOGO_FONT: $g_Lancelot;
  NEWSPAPER_FONT: $g_Spectral;
  MAIN_FONT: $g_Nunito;
  NOTE_FONT: $g_RockSalt;
}