<h1><%= @game.title %></h1>
<% if current_user.id == @game.user_id %>
	 <small>Finished playing? <%= link_to 'Delete this game', @game, method: :delete, data: { confirm: 'Are you sure?' } %></small><br><br>
	<% end %>

<%= link_to "back to Game lobby", games_path %>
