@import "config/globals";

#audio-control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem 0.8rem 0.8rem;
  position: absolute;
  left: 50%;
  bottom: 5rem;
  transform: translateX(-50%);
}

.volume-icon {
  width: 1.5em;
  height: 1.5em;
}

.hide {
  display: none;
}
