@import "config/globals";

.audio-control {
  top: 0;
  right: 0;
  position: fixed;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem 0.8rem 0.8rem
}

.volume-icon {
  width: 1.5em;
  height: 1.5em;
}

.volume-icon-off {

}

.volume-icon-on {

}

.hide {
  display: none;
}