@import "config/globals";
@import "config/animations";

#loader {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: $g_Pink;
  background-color: $g_DarkBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-image {
  color: $g_Pink;
  border: 1px solid $g_Pink;
  border-radius: 100%;
}

.loader-text {
  padding-top: 1rem;
  text-transform: uppercase;
}

@for $i from 1 through 3 {
  .loader-p#{$i} {
    animation-delay: calc(#{$i} * 0.2s);
    color: $g_Pink;
    animation: loading-points 1.4s infinite both;
  }
}