@import "config/globals";

.arrow {
  position: absolute;
  display: inline-block;
  z-index: 9999999;
  padding: 2rem;
  background-color: transparent;
  box-shadow: 5px -5px 0 0 $g_Pink inset;
}

.arrow--up {
  left: 50%;
  top: 1em;
  transform: translateX(-50%) rotate(135deg);
  position: relative;
  margin-top: 0.7em;
}

.ruleset-navigation {
  position: fixed;
  right: 0.5em;
  bottom: 0.5em;

  .ruleset-link {
    background-color: $g_DarkBlue;
    border: 2px solid $g_Pink;
    border-radius: 5px;
    color: $g_Pink;
    font-size: 1.5rem;
    padding: 0.2rem 1.0rem;
  }
}
