@import "config/globals";

.town-container {
  display: block;
  position: relative;
  // background: url($g_logo_path) repeat-x;
  // background-size: cover;
  // height: 844px;
  // -webkit-animation: town-anim 105s linear infinite;
  height: 100%;
}

.town-video, .town-image {
  object-fit: cover;
  height: 100%;
}

.welcome {
  box-shadow: 15px 15px 113px 0px #06232D;
}

.town-logo {
  width: 6rem;
  display: flex;
  justify-content: space-between;
}

.handbook-button {
  position: fixed;
  background-color: $g_DarkBlue;
  border: 2px solid $g_Pink;
  border-radius: 5px;
  color: $g_Pink;
  font-size: 1.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  padding: 0.2rem 1.0rem;
}