@import "config/globals";

.town-video-container {
  display: block;
  position: relative;
  height: 100%;
}

.main-content {
  height: 100%;
  overflow: hidden;
}

.content {
  height: 100%;
}

.town-video, .town-image {
  object-fit: cover;
  height: 100%;
}

.welcome {
  box-shadow: 15px 15px 113px 0px #06232D;
}

.town-logo {
  width: 6rem;
  display: flex;
  justify-content: space-between;
}