<div class='town-container'>
  <div class='play-game-button-container'}>
    <% if current_user %>
        Hello <%= current_user.email %> <br>
    <% end %>

    <%= link_to "PLAY", login_form_path, class: 'play-game-button' %>
  </div>
</div>

