<div class='town-container'>
  <div class='play-game-button-container'}>
    <% if @current_user.blank? %>
        <%= link_to "Play", login_form_path, :remote => true %>
    <% else %>
        <%= render 'user_greeting' if @current_user%>
    <% end %>
  </div>
</div>


