/*
    Global Styleguide variables
 */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Rock+Salt|Nunito:200,300,400,600|Spectral:200,300,400,500&subset=latin-ext');

/* COLORS */
$g_Black: #000000;
$g_White: #FFFFFF;
$g_Yellow: #FFFF37;
$g_LightBlue: #E6FFF5;
$g_Pink: #EE9297;
$g_Teal: #95FED3;
$g_Brown: #473C1E;
$g_DarkBlue: #06232D;

/* FONTS */
$g_lancelot: 'Abril Fatface', cursive; // logo only
$g_spectral: 'Spectral', serif; // newspaper headliner, infophase
$g_nunito: 'Nunito', sans-serif; // paragraphs, buttons, other stuff
$g_rocksalt: 'Rock Salt', cursive;

/* ASSETS */
$g_logo_path: asset-path('town.jpg');

/* GENERAL */
body, html {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: $g_nunito;
}

img.img {
  width: 100%;
}

footer.footer {
  color: $g_Pink;
}

a, .a ,a:visited, .a:visited{
  color: $g_Pink;
  text-decoration: none;
}

/*----- remove input number spinner -----*/

/* For Firefox */
input[type='number'] {
  -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*-----------------------------------------*/

:export {
  BLACK: $g_Black;
  WHITE: $g_White;
  YELLOW: $g_Yellow;
  LIGHT_BLUE: $g_LightBlue;
  PINK: $g_Pink;
  TEAL: $g_Teal;
  BROWN: $g_Brown;
  DARK_BLUE: $g_DarkBlue;

  LOGO_FONT: $g_lancelot;
  NEWSPAPER_FONT: $g_spectral;
  MAIN_FONT: $g_nunito;
  NOTE_FONT: $g_rocksalt;

  LOGO_PATH: $g_logo_path;
}

.yellow {
  color: $g_Yellow;
  font-size: 30px;
}

.pink {
  color: $g_Pink;
  font-size: 30px;
}