// Place all the styles related to the landingpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globals";

.town-container {
  display: block;
  position: relative;
  background: url($g_logo_path) repeat-x;
  background-size: cover;
  height: 844px;
  -webkit-animation: town-anim 55s linear infinite;
}

@-webkit-keyframes town-anim {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -4900px 0;
  }
}



.play-game-button-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 30px;
  background-color: $g_DarkBlue;
  border-radius: 30px;
  border: 3px solid $g_Pink;
  box-shadow: 15px 15px 113px 0px $g_DarkBlue;
  color: $g_Pink !important;
  text-align: center;
}

.modal-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
}

.modal-modal {
  display: none;
  z-index: 9999999;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  text-align: center;
  border-radius: 30px;
  border: 3px solid $g_Pink;
  padding: 8px;
  box-sizing: border-box;
}

.modal-close {
  float: right;
}

.modal-close:hover {
  cursor: pointer;
}

@media only screen and (max-width: 300px) {
  .modal-modal {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}