<!DOCTYPE html>
<html>
  <head>

    <style>
      body > div {
        height: 100%;
      }

      html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
      }

      @keyframes loading-points {
        0% {
          opacity: .2;
        }
        20% {
          opacity: 1;
        }
        100% {
          opacity: .2;
        }
      }

      #loader {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        color: #EE9297;
        background-color: #06232D;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .loader-image {
        color: #EE9297;
        border: 1px solid #EE9297;
        border-radius: 100%;
      }

      .loader-text {
        padding-top: 1rem;
        text-transform: uppercase;
      }

      .loader-p1 {
        animation-delay: 0.2s;
        color: #EE9297;
        animation: loading-points 1.4s infinite both;
      }

      .loader-p1 {
        animation-delay: 0.2s;
        color: #EE9297;
        animation: loading-points 1.4s infinite both;
      }

      .loader-p1 {
        animation-delay: 0.2s;
        color: #EE9297;
        animation: loading-points 1.4s infinite both;
      }
    </style>
  </head>

  <body>

    <div id="loader">
      <%= image_tag 'incidentals/loader.gif', class: 'loader-image' %>
      <p class="loader-text">
        loading
        <span class="loader-p1">.</span>
        <span class="loader-p2">.</span>
        <span class="loader-p3">.</span>
      </p>
    </div>

    <noscript>
      <p>No JavaScript means no game for you. :(</p>
    </noscript>

    <%= javascript_pack_tag 'app' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </body>
</html>
